<ion-header>
    <ion-toolbar>
    <ion-buttons start>
        <button (click)="cancel()">Cancel</button>
    </ion-buttons>

    <ion-title>Transfer</ion-title>

    <ion-buttons end>
        <button (click)="submit($event)" [disabled]="!form.valid">{{editing ? "Save" : "Create"}}</button>
    </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content>
    <div padding>
        <form [ngFormModel]="form" (submit)="submit($event)">
            <ion-item>
                <ion-label>Amount</ion-label>
                <ion-input currency-field  [(ngModel)]="amount" [attr.autofocus]="editing ? null : true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>From</ion-label>
                <ion-select ngControl="categoryFrom">
                    <ion-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</ion-option>    
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>To</ion-label>
                <ion-select ngControl="categoryTo">
                    <ion-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</ion-option>    
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Description</ion-label>
                <ion-input type="text" ngControl="description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Date</ion-label>
                <ion-datetime displayFormat="MMM D, YYYY" pickerFormat="MMM D YYYY" ngControl="date"></ion-datetime>
            </ion-item>
        </form>
    </div>
    <button *ngIf="editing" danger clear small (click)="deleteTransactionConfirm()">Delete</button>

</ion-content>